.cards{
  border-bottom: 1px solid #000;
  padding: 20px;

  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card{
  width: 33%;
  padding: 23px;
  padding-top: 129px;
  background-image: url('./../images/card-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 23px;
  position: relative;
  transition: transform .3s;

  @media(max-width: 1316px) {
    margin-right: 0;
  }

  @media(max-width: 1216px) {
    padding-top: 75px;
  }

  &__image{
    width: 100%;
  }

  &:hover{
    transform: scale(1.03);
  }

  &_1, &_2{
    &::before{
      content: '';
      position: absolute;
      top: 0;
      width: 58px;
    }
  }

  &_2, &_3{
    &::after{
      content: '';
      position: absolute;
      top: 0;
      width: 58px;
    }
  }

  &_1{
    &::before{
      height: 58px;
      left: 0;
      background-image: url('./../images/card-1-before.svg');
    }
  }

  &_2{
    &::before{
      height: 88px;
      left: -37px;
      background-image: url('./../images/card-2-before.svg');
    }
    &::after{
      height: 88px;
      right: -37px;
      background-image: url('./../images/card-2-before.svg');
    }
  }

  &_3{
    &::after{
      height: 58px;
      right: 0;
      background-image: url('./../images/card-1-before.svg');
    }
  }

  &:last-child{
    margin-right: 0;
  }

  &__header{
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title{
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000;
  }

  &__subtitle{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000;
  }
}