.desktop{

  &-inner{
    display: flex;
    width: 100%;
    border-top: 0;
  }

  &__box{
    width: 50%;
    /*чтобы выровнять картинки по высоте*/
    display: flex;
    flex-direction: column;
    justify-content: end;
    /**/
    
    &__logo{
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      position: relative;
    }

    &__item{
      padding: 20px;
      border-left: 1px solid #000;

      &_left{
        border-left: none;
      }
    }
  }

  &__title{
    font-size: 58px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    width: 100%;
    text-align: center;
    padding: 24px 80px;
  }
}

.logo-main{
  width: 100%;
}

.logo-main2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}