.desktop{

  &-inner{
    display: flex;
    width: 100%;
    border-top: 0;
  }

  &__box{
    width: 50%;

    &__logo{
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      position: relative;
    }

    &__item{
      padding: 20px;
      border-left: 1px solid #000;
    }
  }

  &__title{
    font-size: 58px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #000;
    border-top: none;
    border-right: none;
    width: 100%;
    text-align: center;
    padding: 24px 80px;
  }
}

.logo-main{
  width: 100%;
}

.logo-main2{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ticker{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  
  &:hover  &__box{
    animation-play-state: paused;
  }

  &-inner{
    padding: 23px 0 24px 0;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__box{
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    animation: ticker 5s linear infinite;
  }

  &__text{
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000000;
  }

  &__image{
    margin: 0 29px;
  }
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}