.footer{
  background: #CDFD3B;
  padding: 20px 93px 21px 93px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000;

  &-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  &__address{
    font-style: normal;
  }
}

