.footer{
  background: #CDFD3B;
  padding: 20px 93px 21px 93px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #000;
  border-top: 1px solid #000;

  @media(max-width: 667px) {
    padding: 10px;
  }

  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 500px) {
      flex-direction: column;
    }
  }

  &__address{
    font-style: normal;
  }

  &__social{
    color: #000;
  }
}

