@import './vars.scss';

.header{
  width: 100%;

  &-inner{
    box-sizing: border-box;
    padding: 21px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;

    @media(max-width: 917px) {
      padding: 10px 20px;
    }

    @media(max-width: 667px) {
      display: grid;
      grid-template-areas: "a a a" "b c c" "b c c";
      justify-content: center;
      padding: 10px;
    }
  }

  &__logo{
    margin: 0 30px;

    @media(max-width: 927px) {
      margin: 0 10px;
    }
  }
}

.navigation{

  @media(max-width: 667px) {
    order: 1;
    grid-area: a;
    margin-bottom: 10px;
  }
}

.list{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item{
    margin-right: 20px;

    @media(max-width: 927px) {
      margin-right: 10px;
    }

    &:last-child{
      margin-right: 0;
    }
    
    &_logo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      @media(max-width: 667px) {
        display: none;
      }
    }
  }

  &__link{
    font-size: 14px;
    line-height: 132%;
    color: #222;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 34px;
    position: relative;

    @media(max-width: 1116px) {
      padding: 15px;
    }

    @media(max-width: 927px) {
      padding: 0;
    }

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #000;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity .3s;
      border-radius: 100%;
    }

    &:hover {
      
      &::before{
        opacity: 1;
      }
    }
  }
}

.circle{
  width: 17px;
  height: 17px;
  border: 1px solid #000;
  border-radius: 100%;

  &_red{
    background-color: $red;
  }

  &_purple{
    background-color: #8B83F6;
  }
}