.story{

  &-inner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;

    @media(max-width: 767px) {
      flex-direction: column;
    }
  }

  &__box{
    width: 50%;

    @media(max-width: 767px) {
      width: 100%;
    }

    &_left{
      display: flex;
      flex-direction: column;
      justify-content: end;
      border-right: 1px solid #000;

      @media(max-width: 1216px) {
        justify-content: initial;
      }

      @media(max-width: 767px) {
        border-right: none;
      }
    }

    &_right{
      background-image: url('./../images/story-bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 135px 155px;

      @media(max-width: 1361px) {
        background-size: contain;
      }

      @media(max-width: 1316px) {
        background-position: center;
        padding: 164px 155px;
      }

      @media(max-width: 1216px) {
        padding: 103px 118px;
        justify-content: space-around;
      }

      @media(max-width: 1116px) {
        padding: 121px 109px;
      }

      @media(max-width: 1016px) {
        padding: 68px 85px;
        background-size: 100% 100%;
      }

      @media(max-width: 767px) {
        padding: 133px 155px;
      }

      @media(max-width: 717px) {
        padding: 100px 122px;
      }
    }

    &__text{

      @media(max-width: 1216px) {
        font-size: 14px;
      }

      @media(max-width: 1016px) {
        font-size: 12px;
      }

      @media(max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  &__title{
    padding: 53px 54px 44px 54px;
    font-weight: 400;
    font-size: 58px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000;

    @media(max-width: 1316px) {
      font-size: 50px;
      line-height: 62px;
    }

    @media(max-width: 1216px) {
      padding: 24px;
    }

    @media(max-width: 1016px) {
      font-size: 39px;
      line-height: 50px;
      padding: 11px;
    }

    @media(max-width: 927px) {
      font-size: 30px;
    }

    @media(max-width: 835px) {
      padding: 25px;
    }

    @media(max-width: 740px) {
      padding: 20px;
      line-height: 45px;
    }

    @media(max-width: 667px) {
      padding: 10px;
    }
  }
}