.throw{

  &-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;    
  }

  &__title{
    font-size: 65px;
    line-height: 73px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000;

    @media(max-width: 1316px) {
      font-size: 50px;
      line-height: 62px;
    }

    @media(max-width: 1116px) {
      font-size: 40px;
      line-height: 50px;
    }

    @media(max-width: 1016px) {
      font-size: 39px;
    }

    @media(max-width: 927px) {
      font-size: 30px;
    }

    @media(max-width: 717px) {
      font-size: 25px;
    }
  }
}


.scorpion{

  &_reverse{
    transform: scale(-1, 1)
  }

  @media(max-width: 1116px) {
    width: 150px;
  }

  @media(max-width: 717px) {
    width: 120px;
  }
}