.ticker{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  z-index: 1;

  &_put{
    border-top: none;
  }

  &_download{
    z-index: -5;
  }
  
  &:hover  &__box{
    animation-play-state: paused;
  }

  &-inner{
    padding: 23px 0 24px 0;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  &__box{
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    animation: ticker 4s linear infinite;

    &_download{
      animation: ticker 7s linear infinite;
    }
  }

  &__text{
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #000;
  }

  &__image{
    margin: 0 29px;
  }
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }

  to {
    transform: translate3d(-100%, 0, 0);
  }
}